<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RSS reader</title>
</head>
<body class="d-flex flex-column min-vh-100 bg-secondary">
<main class="flex-grow-1">
    <div class="container-fluid bg-dark p-5">
        <div class="col-md-10 col-lg-8 mx-auto text-white">
            <h1 class="display-3" id="header">RSS агрегатор</h1>
            <p class="lead" id="description">Всё интересное в одном месте</p>
            <form class="rss-form">
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" class="form-control form-control-lg w-100 rss-link" name="name" id="input-placeholder" placeholder="ссылка RSS">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-lg btn-primary px-sm-5 submit-button" id="add-button">Add</button>
                    </div>
                </div>
            </form>
            <p id='output'></p>
            <small class="form-text text-muted" id="example">Пример: https://ru.hexlet.io/lessons.rss</small>
        </div>
    </div>
    <div class="container-fluid p-5">
        <div class="col-md-10 col-lg-8 mx-auto text-white">
            <div class="row">
                <div class="rounded-lg col-6 col-md-4 bg-info p-3">
                    <h1 id="feeds-title">Фиды</h1>
                    <p class="text-light" id="feeds-description">Здесь появятся списки ваших потоков</p>
                    <ul class="list-group feeds-list"></ul>
                </div>
                <div class="rounded-lg bg-light text-dark col-md-10 col-lg-8 mx-auto p-3">
                    <h1 id="posts-title">Посты</h1>
                    <p class="text-dark" id="posts-description">Здесь появятся свежие новости с добавленных потоков</p>
                    <ul class="list-group posts-list"></ul>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>