<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RSS reader</title>
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container-fluid bg-dark p-5">
    <form class="rss-form">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control form-control-lg w-100" id="name" placeholder="ссылка RSS">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-lg btn-primary px-sm-5">Add</button>
            </div>
        </div>
    </form>
    <small class="form-text text-muted">Пример: https://ru.hexlet.io/lessons.rss</small>
</div>
</body>
</html>